<div class="flex flex-col space-y-2 w-full">
  <div class="flex w-full py-4">
    <a
      class="w-full bg-gray-900 text-white px-6 py-4 rounded-md text-center font-semibold text-2xl shadow-md"
      [routerLink]="['/add']"
    >
      Add Todo
    </a>
  </div>
  <ng-container *ngIf="todos$ | async as todos">
    <ng-container *ngFor="let todo of todos; trackBy: trackByTodo">
      <div
        role="button"
        (click)="onToggleTodo(todo)"
        class="w-full flex flex-row text-2xl font-semibold border border-gray-500 p-4 rounded-md shadow-md cursor-pointer"
      >
        <div class="flex-1" [appCompleteStrikeThrough]="todo.completed">
          <div class="block">
            {{ todo.name }}
          </div>
          <div *ngIf="todo.completed" class="block text-lg text-gray-500">
            Completed on: {{ todo.completedOn | dateTime }}
          </div>
        </div>
        <div class="flex items-center">
          {{ todo.completed ? "✅" : "⏳" }}
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="flex w-full py-4 pt-8">
    <a
      class="w-full text-blue-600 px-6 py-4 rounded-md text-center font-semibold text-2xl hover:underline"
      href="https://github.com/mainawycliffe/angular-without-modules-google-io-extended-2022-demo"
      target="_blank"
    >
      View Source on Github
    </a>
  </div>
</div>
